# torch.onnx.verification
<<<<<<< HEAD

=======
>>>>>>> 5729657180 ([ROCm] Specialized binary elementwise broadcast kernel for mixed dtypes with float/bfloat16/half (#2791))
```{eval-rst}
.. automodule:: torch.onnx.verification
```

```{eval-rst}
.. autofunction:: verify_onnx_program
```

```{eval-rst}
.. autoclass:: VerificationInfo
    :members:
```
<<<<<<< HEAD
=======

```{eval-rst}
.. autofunction:: verify
```

## Deprecated

The following classes and functions are deprecated.

<!-- Some deprecated members are not publicly shown -->
```{eval-rst}
.. py:class:: check_export_model_diff
.. py:class:: GraphInfo
.. py:class:: GraphInfoPrettyPrinter
.. py:class:: OnnxBackend
.. py:class:: OnnxTestCaseRepro
.. py:class:: VerificationOptions
.. py:function:: find_mismatch
.. py:function:: verify_aten_graph
```
>>>>>>> 5729657180 ([ROCm] Specialized binary elementwise broadcast kernel for mixed dtypes with float/bfloat16/half (#2791))
